
/* footer */
.site-footer
{
  
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:var(--first-color);
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.detail{
    width: 500px;
  }
.rpara{
  font-size: 2.2rem;
  color: #737373;
}
  .domain{
      background-color:#f7f7f7 ;
      margin: 30px 10px;
      border-radius: 1rem;
      transition: all 0.5s;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: -1px 1px 11px -2px rgba(0,0,0,0.75);
      -webkit-box-shadow: -1px 1px 11px -2px rgba(0,0,0,0.75);
      -moz-box-shadow: -1px 1px 11px -2px rgba(0,0,0,0.75);
  }
  .domain:hover{
      box-shadow: -3px 0px 26px -1px rgba(118,118,118,0.75);
      -webkit-box-shadow: -3px 0px 26px -1px rgba(118,118,118,0.75);
      -moz-box-shadow: -3px 0px 26px -1px rgba(118,118,118,0.75);
  }
  
  :root {
      --headerOpacity: 1;
      --headerScale: 1;
    }
    
    .video-header {
      position: absolute;
      text-align: center;
      width: 100vw;
      height: 100vh;
    }
    .video-header, .video-header video, .video-header .viewport-header {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
    }
    .video-header video {
      background: brown;
      object-fit: cover;
    }
    .video-header .viewport-header {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      opacity: var(--headerOpacity);
      transform: scale(var(--headerScale));
    }
    
    
    
    .h1 {
      /* font-family: "Syncopate", sans-serif; */
      font-family: 'Orbitron', sans-serif;
      color: rgb(41, 41, 41);
      text-transform: uppercase;
      letter-spacing: 3vw;
      line-height: 1.2;
      font-size: 2vw;
      /* font-size: smaller; */
      text-align: center;
    }
    .h1 span {
      display: block;
      font-size: 10vw;
      /* font-size: medium; */
      letter-spacing: -1.3vw;
    }
    
    main {
      background: rgba(255, 251, 249, 0.9) ;
      position: relative;
      padding: 1rem;
      margin-top: 100vh;
    }
    main::before {
      content: "";
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      top: -100vh;
    }
    main p {
      max-width: 800px;
    }
  
   
  
    .resource a , .resource , .resource a:hover{
      font-size: 15px;
      margin-bottom: 10px;
      text-decoration: none;
      color: rgb(122, 122, 122);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    } 
   
    .resource a:hover{
      text-decoration: underline;
      text-shadow: 2px 2px 6px rgba(175, 175, 175, 0.65);
      transform: translateX(10px);
    }
  
  .resource-para{
    font-size: 1.5em;
    color: #21437a;
  }
  .img-resource{
    margin-top: 10px;
    width: 100%; 
    border-radius: 20px;
  }
    .img-roadmap
    {
      width: 100%;
      margin: 30px 0px;
      border-radius: 10px;
      box-shadow: -3px 0px 26px -1px rgba(118,118,118,0.75);
      -webkit-box-shadow: -3px 0px 26px -1px rgba(118,118,118,0.75);
      -moz-box-shadow: -3px 0px 26px -1px rgba(118,118,118,0.75);
    }
    